{% extends "base.html" %}

{% block content %}
    <header class="row">
        <input type="text" id="item-input" data-href="{{ url_for('.new_item') }}"
            placeholder="添加待办事项" autocomplete="off" autofocus required>
    </header>
    <div class="row" id="dashboard">
        <div class="col l9 m12 s12">
            <ul class="tabs">
                <li class="tab col m4 s12">
                    <a class="blue-text button" id="all-item">全部<span class="grey-text small-text"
                                                                        id="all-count">{{ all_count }}</span>
                    </a>
                </li>
                <li class="tab col m4 s12">
                    <a class="blue-text button" id="active-item">未完成<span class="grey-text small-text"
                                                                              id="active-count">{{ active_count }}</span>
                    </a>
                </li>
                <li class="tab col m4 s12">
                    <a class="blue-text button" id="completed-item">已完成<span class="grey-text small-text"
                                                                              id="completed-count">{{ completed_count }}</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col l3 hide-on-med-and-down">
            <a id="clear-btn" class="waves-effect waves-light btn red right">
                <i class="material-icons left">clear_all</i>清除
            </a>
        </div>
    </div>
    <div class="items">
        {% for item in items %}
            {% include '_item.html' %}
        {% endfor %}
    </div>
{% endblock %}