{% extends 'base.html' %}

{% block content %}
    <div class="center">
        <h2 class="red-text text-lighten-2">Todo</h2>
        <h5 class="light">超好用的待办事项管理软件</h5>
        <div class="row center-block">
            <div class="fake-browser-ui hoverable card-panel">
                <div class="frame">
                    <span class="red"></span>
                    <span class="blue"></span>
                    <span class="orange"></span>
                </div>
                <img class="responsive-img" src="{{ url_for('static', filename='demo.png') }}">
            </div>
        </div>
        <div class="row">
            <a href="#login" class="btn waves-effect waves-light red">开始使用</a>
        </div>
    </div>
{% endblock %}