{% extends "base.html" %}

{% block content %}
    <header class="center">
        <h4 class="red-text">登录到 Todo</h4>
    </header>
    <div class="login-form">
        <input class="validate login-input" id="username-input" name="username" type="text" placeholder="Username"
               autofocus required>
        <input class="validate login-input" id="password-input" name="password" type="password" placeholder="Password"
               required>
        <span class="right">
            <a class="btn grey" id="register-btn">使用一个测试帐号</a>
            <a class="btn red" id="login-btn">登录</a>
        </span>
        <p><a class="blue-text link button left" id="toggle-password">显示密码</a></p>&nbsp;
    </div>
{% endblock %}