<nav class="blue lighten-2" role="navigation">
    <div class="nav-wrapper container">
        <a href="#intro" class="brand-logo "><span class="red-text">Todo</span></a>
        <ul class="right hide-on-med-and-down">
            {% if current_user.is_authenticated %}
                <li>
                    <a href="#app" class="waves-effect waves-light btn green">{{ current_user.username }}
                        <span class="new badge red" id="active-count-nav">{{ active_items }}</span>
                    </a>
                </li>
                <li>
                    <a class="waves-effect waves-light" id="logout-btn" data-href="{{ url_for('auth.logout') }}">
                        <i class="material-icons">power_settings_new</i>
                    </a>
                </li>
            {% else %}
                <li><a href="#login" class="waves-effect waves-light btn red">Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<main>
    {% block content %}{% endblock %}
</main>