{% extends "base.html" %}
{% block head %}
{{ super() }}
    <script>
    {#function checkpwd() {#}
    {#    if (exampleInputPassword1.value != exampleInputPassword2.value) {#}
    {#        alert("两次输入密码不一样")#}
    {#        exampleInputPassword1.value = "";#}
    {#        exampleInputPassword2.value = "";#}
    {#    }#}
    {#}#}
    </script>
{% endblock %}
{% block page_content %}
    <form method="post"
          action="{{ url_for('auth.register') }}">
        <div class="form-group">
            <label for="exampleInput">Username</label>
            <input type="text" name="username" class="form-control" id="exampleInputEmail1"  placeholder="Enter username">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            <label for="exampleInputPassword2">Confirm Password</label>
            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
        </div>
            <button type="submit" class="btn btn-primary">Register</button>
    </form>
{% endblock %}

